<a href="https://colab.research.google.com/github/vaguiar/capstone-project-2019/blob/master/src/explore/Normalize_2017_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Normalizing the data
The Data values in the provisional dataset are reproted in rolling 1 year windows. ie. in Jan 2018, the number reported is the sum of eveything from Feb 2107 - Jan 2018. So in order to get only the Jan 2018 numbers, we needed to extract the last year's CDC WONDER data values for all states i.e. Jan '17 - Dec '17 for all states first. Next we took difference between every consecutive rolling year value reported and added the prev year's value to it.

In [44]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
cdc_link = '/content/drive/My Drive/Capstone Project 2019/data/cdc-wonder/cdc-provisional-normalized/cdc_opioids_state_normalized.csv'

In [0]:
import pandas as pd

cdc = pd.DataFrame(pd.read_csv(cdc_link))

In [5]:
month_map = {
  'Jan.':1,
  'Feb.':2,
  'Mar.':3,
  'Apr.':4,
  'May' :5, 
  'Jun.':6,
  'Jul.':7,
  'Aug.':8,
  'Sep.':9,
  'Oct.':10,
  'Nov.':11,
  'Dec.':12
}

for i in month_map.keys():
  print(i)

Jan.
Feb.
Mar.
Apr.
May
Jun.
Jul.
Aug.
Sep.
Oct.
Nov.
Dec.

In [6]:
cdc_2017 = cdc[cdc['Year'] == 2017]

len(cdc_2017)/12

47.416666666666664

In [7]:
cdc_2017

          State  State Code Month  Year  Monthly Code  Deaths
36      Alabama           1  Jan.  2017             1      91
37      Alabama           1  Feb.  2017             2      73
38      Alabama           1  Mar.  2017             3      92
39      Alabama           1  Apr.  2017             4      75
40      Alabama           1   May  2017             5      83
...         ...         ...   ...   ...           ...     ...
2233  Wisconsin          55  Oct.  2017            10     109
2234  Wisconsin          55  Nov.  2017            11      81
2235  Wisconsin          55  Dec.  2017            12      97
2251    Wyoming          56  Oct.  2017            10      13
2252    Wyoming          56  Nov.  2017            11      14

[569 rows x 6 columns]

In [38]:
import copy

# insert rows for missing months with count = 0. Do only for 2017
cdc_copy = pd.DataFrame(columns=['State', 'State Code', 'Month', 'Year', 'Monthly Code', 'Deaths'])

# # Uncomment to Test with Alaska
# al_cdc = cdc_2017[cdc_2017['State'] == 'Alaska']
# al_cdc = al_cdc.reset_index(drop=True, inplace=False)

idx = 0
while idx < len(cdc_2017.index):
  curr = cdc_2017.iloc[idx]
  print(idx, curr['State'], curr['Month'])

  for mth in month_map.keys():
    if str(mth) != str(curr['Month']):
      print(f"missing month {mth}")
      print(f"insert {mth}")

      # insert missing row
      row = copy.deepcopy(curr).to_dict()
      row['Month'] = mth                 # insert the missing month
      row['Monthly Code'] = month_map[mth] # give it the id
      row['Deaths'] = 0                  # setting death count to 0
      print(f"insert row {row}")
      cdc_copy = cdc_copy.append(row, ignore_index=True, sort=False)
    else:
      print(f"matching {mth}")
      cdc_copy = cdc_copy.append(curr)
      if str(mth) == str('Dec.'):
        idx+=1
        break
      
      idx+= 1

      if idx < len(cdc_2017.index): # don't go past the last value in the dataset
        curr = cdc_2017.iloc[idx]
        print(idx, curr['State'], curr['Month'])

print(cdc_copy)

0 Alabama Jan.
matching Jan.
1 Alabama Feb.
matching Feb.
2 Alabama Mar.
matching Mar.
3 Alabama Apr.
matching Apr.
4 Alabama May
matching May
5 Alabama Jun.
matching Jun.
6 Alabama Jul.
matching Jul.
7 Alabama Aug.
matching Aug.
8 Alabama Sep.
matching Sep.
9 Alabama Oct.
matching Oct.
10 Alabama Nov.
matching Nov.
11 Alabama Dec.
matching Dec.
12 Alaska Jan.
matching Jan.
13 Alaska Mar.
missing month Feb.
insert Feb.
insert row {'State': 'Alaska', 'State Code': 2, 'Month': 'Feb.', 'Year': 2017, 'Monthly Code': 2, 'Deaths': 0}
matching Mar.
14 Alaska May
missing month Apr.
insert Apr.
insert row {'State': 'Alaska', 'State Code': 2, 'Month': 'Apr.', 'Year': 2017, 'Monthly Code': 4, 'Deaths': 0}
matching May
15 Alaska Jul.
missing month Jun.
insert Jun.
insert row {'State': 'Alaska', 'State Code': 2, 'Month': 'Jun.', 'Year': 2017, 'Monthly Code': 6, 'Deaths': 0}
matching Jul.
16 Alaska Aug.
matching Aug.
17 Alaska Sep.
matching Sep.
18 Alaska Nov.
missing month Oct.
insert Oct.
insert row {'State': 'Alaska', 'State Code': 2, 'Month': 'Oct.', 'Year': 2017, 'Monthly Code': 10, 'Deaths': 0}
matching Nov.
19 Alaska Dec.
matching Dec.
20 Arizona Jan.
matching Jan.
21 Arizona Feb.
matching Feb.
22 Arizona Mar.
matching Mar.
23 Arizona Apr.
matching Apr.
24 Arizona May
matching May
25 Arizona Jun.
matching Jun.
26 Arizona Jul.
matching Jul.
27 Arizona Aug.
matching Aug.
28 Arizona Sep.
matching Sep.
29 Arizona Oct.
matching Oct.
30 Arizona Nov.
matching Nov.
31 Arizona Dec.
matching Dec.
32 Arkansas Jan.
matching Jan.
33 Arkansas Feb.
matching Feb.
34 Arkansas Mar.
matching Mar.
35 Arkansas Apr.
matching Apr.
36 Arkansas May
matching May
37 Arkansas Jun.
matching Jun.
38 Arkansas Jul.
matching Jul.
39 Arkansas Aug.
matching Aug.
40 Arkansas Sep.
matching Sep.
41 Arkansas Oct.
matching Oct.
42 Arkansas Nov.
matching Nov.
43 Arkansas Dec.
matching Dec.
44 California Jan.
matching Jan.
45 California Feb.
matching Feb.
46 California Mar.
matching Mar.
47 California Apr.
matching Apr.
48 California May
matching May
49 California Jun.
matching Jun.
50 California Jul.
matching Jul.
51 California Aug.
matching Aug.
52 California Sep.
matching Sep.
53 California Oct.
matching Oct.
54 California Nov.
matching Nov.
55 California Dec.
matching Dec.
56 Colorado Jan.
matching Jan.
57 Colorado Feb.
matching Feb.
58 Colorado Mar.
matching Mar.
59 Colorado Apr.
matching Apr.
60 Colorado May
matching May
61 Colorado Jun.
matching Jun.
62 Colorado Jul.
matching Jul.
63 Colorado Aug.
matching Aug.
64 Colorado Sep.
matching Sep.
65 Colorado Oct.
matching Oct.
66 Colorado Nov.
matching Nov.
67 Colorado Dec.
matching Dec.
68 Connecticut Jan.
matching Jan.
69 Connecticut Feb.
matching Feb.
70 Connecticut Mar.
matching Mar.
71 Connecticut Apr.
matching Apr.
72 Connecticut May
matching May
73 Connecticut Jun.
matching Jun.
74 Connecticut Jul.
matching Jul.
75 Connecticut Aug.
matching Aug.
76 Connecticut Sep.
matching Sep.
77 Connecticut Oct.
matching Oct.
78 Connecticut Nov.
matching Nov.
79 Connecticut Dec.
matching Dec.
80 Delaware Jan.
matching Jan.
81 Delaware Feb.
matching Feb.
82 Delaware Mar.
matching Mar.
83 Delaware Apr.
matching Apr.
84 Delaware May
matching May
85 Delaware Jun.
matching Jun.
86 Delaware Jul.
matching Jul.
87 Delaware Aug.
matching Aug.
88 Delaware Sep.
matching Sep.
89 Delaware Oct.
matching Oct.
90 Delaware Nov.
matching Nov.
91 Delaware Dec.
matching Dec.
92 District of Columbia Jan.
matching Jan.
93 District of Columbia Feb.
matching Feb.
94 District of Columbia Mar.
matching Mar.
95 District of Columbia Apr.
matching Apr.
96 District of Columbia May
matching May
97 District of Columbia Jun.
matching Jun.
98 District of Columbia Jul.
matching Jul.
99 District of Columbia Aug.
matching Aug.
100 District of Columbia Sep.
matching Sep.
101 District of Columbia Oct.
matching Oct.
102 District of Columbia Nov.
matching Nov.
103 District of Columbia Dec.
matching Dec.
104 Florida Jan.
matching Jan.
105 Florida Feb.
matching Feb.
106 Florida Mar.
matching Mar.
107 Florida Apr.
matching Apr.
108 Florida May
matching May
109 Florida Jun.
matching Jun.
110 Florida Jul.
matching Jul.
111 Florida Aug.
matching Aug.
112 Florida Sep.
matching Sep.
113 Florida Oct.
matching Oct.
114 Florida Nov.
matching Nov.
115 Florida Dec.
matching Dec.
116 Georgia Jan.
matching Jan.
117 Georgia Feb.
matching Feb.
118 Georgia Mar.
matching Mar.
119 Georgia Apr.
matching Apr.
120 Georgia May
matching May
121 Georgia Jun.
matching Jun.
122 Georgia Jul.
matching Jul.
123 Georgia Aug.
matching Aug.
124 Georgia Sep.
matching Sep.
125 Georgia Oct.
matching Oct.
126 Georgia Nov.
matching Nov.
127 Georgia Dec.
matching Dec.
128 Hawaii Jan.
matching Jan.
129 Hawaii Mar.
missing month Feb.
insert Feb.
insert row {'State': 'Hawaii', 'State Code': 15, 'Month': 'Feb.', 'Year': 2017, 'Monthly Code': 2, 'Deaths': 0}
matching Mar.
130 Hawaii Apr.
matching Apr.
131 Hawaii May
matching May
132 Hawaii Jun.
matching Jun.
133 Hawaii Jul.
matching Jul.
134 Hawaii Aug.
matching Aug.
135 Hawaii Sep.
matching Sep.
136 Hawaii Oct.
matching Oct.
137 Hawaii Nov.
matching Nov.
138 Hawaii Dec.
matching Dec.
139 Idaho Jan.
matching Jan.
140 Idaho Feb.
matching Feb.
141 Idaho Mar.
matching Mar.
142 Idaho Apr.
matching Apr.
143 Idaho May
matching May
144 Idaho Jun.
matching Jun.
145 Idaho Jul.
matching Jul.
146 Idaho Aug.
matching Aug.
147 Idaho Sep.
matching Sep.
148 Idaho Oct.
matching Oct.
149 Idaho Nov.
matching Nov.
150 Idaho Dec.
matching Dec.
151 Illinois Jan.
matching Jan.
152 Illinois Feb.
matching Feb.
153 Illinois Mar.
matching Mar.
154 Illinois Apr.
matching Apr.
155 Illinois May
matching May
156 Illinois Jun.
matching Jun.
157 Illinois Jul.
matching Jul.
158 Illinois Aug.
matching Aug.
159 Illinois Sep.
matching Sep.
160 Illinois Oct.
matching Oct.
161 Illinois Nov.
matching Nov.
162 Illinois Dec.
matching Dec.
163 Indiana Jan.
matching Jan.
164 Indiana Feb.
matching Feb.
165 Indiana Mar.
matching Mar.
166 Indiana Apr.
matching Apr.
167 Indiana May
matching May
168 Indiana Jun.
matching Jun.
169 Indiana Jul.
matching Jul.
170 Indiana Aug.
matching Aug.
171 Indiana Sep.
matching Sep.
172 Indiana Oct.
matching Oct.
173 Indiana Nov.
matching Nov.
174 Indiana Dec.
matching Dec.
175 Iowa Jan.
matching Jan.
176 Iowa Feb.
matching Feb.
177 Iowa Mar.
matching Mar.
178 Iowa Apr.
matching Apr.
179 Iowa May
matching May
180 Iowa Jun.
matching Jun.
181 Iowa Jul.
matching Jul.
182 Iowa Aug.
matching Aug.
183 Iowa Sep.
matching Sep.
184 Iowa Oct.
matching Oct.
185 Iowa Nov.
matching Nov.
186 Iowa Dec.
matching Dec.
187 Kansas Jan.
matching Jan.
188 Kansas Feb.
matching Feb.
189 Kansas Mar.
matching Mar.
190 Kansas Apr.
matching Apr.
191 Kansas May
matching May
192 Kansas Jun.
matching Jun.
193 Kansas Jul.
matching Jul.
194 Kansas Aug.
matching Aug.
195 Kansas Sep.
matching Sep.
196 Kansas Oct.
matching Oct.
197 Kansas Nov.
matching Nov.
198 Kansas Dec.
matching Dec.
199 Kentucky Jan.
matching Jan.
200 Kentucky Feb.
matching Feb.
201 Kentucky Mar.
matching Mar.
202 Kentucky Apr.
matching Apr.
203 Kentucky May
matching May
204 Kentucky Jun.
matching Jun.
205 Kentucky Jul.
matching Jul.
206 Kentucky Aug.
matching Aug.
207 Kentucky Sep.
matching Sep.
208 Kentucky Oct.
matching Oct.
209 Kentucky Nov.
matching Nov.
210 Kentucky Dec.
matching Dec.
211 Louisiana Jan.
matching Jan.
212 Louisiana Feb.
matching Feb.
213 Louisiana Mar.
matching Mar.
214 Louisiana Apr.
matching Apr.
215 Louisiana May
matching May
216 Louisiana Jun.
matching Jun.
217 Louisiana Jul.
matching Jul.
218 Louisiana Aug.
matching Aug.
219 Louisiana Sep.
matching Sep.
220 Louisiana Oct.
matching Oct.
221 Louisiana Nov.
matching Nov.
222 Louisiana Dec.
matching Dec.
223 Maine Jan.
matching Jan.
224 Maine Feb.
matching Feb.
225 Maine Mar.
matching Mar.
226 Maine Apr.
matching Apr.
227 Maine May
matching May
228 Maine Jun.
matching Jun.
229 Maine Jul.
matching Jul.
230 Maine Aug.
matching Aug.
231 Maine Sep.
matching Sep.
232 Maine Oct.
matching Oct.
233 Maine Nov.
matching Nov.
234 Maine Dec.
matching Dec.
235 Maryland Jan.
matching Jan.
236 Maryland Feb.
matching Feb.
237 Maryland Mar.
matching Mar.
238 Maryland Apr.
matching Apr.
239 Maryland May
matching May
240 Maryland Jun.
matching Jun.
241 Maryland Jul.
matching Jul.
242 Maryland Aug.
matching Aug.
243 Maryland Sep.
matching Sep.
244 Maryland Oct.
matching Oct.
245 Maryland Nov.
matching Nov.
246 Maryland Dec.
matching Dec.
247 Massachusetts Jan.
matching Jan.
248 Massachusetts Feb.
matching Feb.
249 Massachusetts Mar.
matching Mar.
250 Massachusetts Apr.
matching Apr.
251 Massachusetts May
matching May
252 Massachusetts Jun.
matching Jun.
253 Massachusetts Jul.
matching Jul.
254 Massachusetts Aug.
matching Aug.
255 Massachusetts Sep.
matching Sep.
256 Massachusetts Oct.
matching Oct.
257 Massachusetts Nov.
matching Nov.
258 Massachusetts Dec.
matching Dec.
259 Michigan Jan.
matching Jan.
260 Michigan Feb.
matching Feb.
261 Michigan Mar.
matching Mar.
262 Michigan Apr.
matching Apr.
263 Michigan May
matching May
264 Michigan Jun.
matching Jun.
265 Michigan Jul.
matching Jul.
266 Michigan Aug.
matching Aug.
267 Michigan Sep.
matching Sep.
268 Michigan Oct.
matching Oct.
269 Michigan Nov.
matching Nov.
270 Michigan Dec.
matching Dec.
271 Minnesota Jan.
matching Jan.
272 Minnesota Feb.
matching Feb.
273 Minnesota Mar.
matching Mar.
274 Minnesota Apr.
matching Apr.
275 Minnesota May
matching May
276 Minnesota Jun.
matching Jun.
277 Minnesota Jul.
matching Jul.
278 Minnesota Aug.
matching Aug.
279 Minnesota Sep.
matching Sep.
280 Minnesota Oct.
matching Oct.
281 Minnesota Nov.
matching Nov.
282 Minnesota Dec.
matching Dec.
283 Mississippi Jan.
matching Jan.
284 Mississippi Feb.
matching Feb.
285 Mississippi Mar.
matching Mar.
286 Mississippi Apr.
matching Apr.
287 Mississippi May
matching May
288 Mississippi Jun.
matching Jun.
289 Mississippi Jul.
matching Jul.
290 Mississippi Aug.
matching Aug.
291 Mississippi Sep.
matching Sep.
292 Mississippi Oct.
matching Oct.
293 Mississippi Nov.
matching Nov.
294 Mississippi Dec.
matching Dec.
295 Missouri Jan.
matching Jan.
296 Missouri Feb.
matching Feb.
297 Missouri Mar.
matching Mar.
298 Missouri Apr.
matching Apr.
299 Missouri May
matching May
300 Missouri Jun.
matching Jun.
301 Missouri Jul.
matching Jul.
302 Missouri Aug.
matching Aug.
303 Missouri Sep.
matching Sep.
304 Missouri Oct.
matching Oct.
305 Missouri Nov.
matching Nov.
306 Missouri Dec.
matching Dec.
307 Montana Jan.
matching Jan.
308 Montana Feb.
matching Feb.
309 Montana Mar.
matching Mar.
310 Montana May
missing month Apr.
insert Apr.
insert row {'State': 'Montana', 'State Code': 30, 'Month': 'Apr.', 'Year': 2017, 'Monthly Code': 4, 'Deaths': 0}
matching May
311 Montana Jul.
missing month Jun.
insert Jun.
insert row {'State': 'Montana', 'State Code': 30, 'Month': 'Jun.', 'Year': 2017, 'Monthly Code': 6, 'Deaths': 0}
matching Jul.
312 Montana Sep.
missing month Aug.
insert Aug.
insert row {'State': 'Montana', 'State Code': 30, 'Month': 'Aug.', 'Year': 2017, 'Monthly Code': 8, 'Deaths': 0}
matching Sep.
313 Montana Oct.
matching Oct.
314 Nebraska Jan.
missing month Nov.
insert Nov.
insert row {'State': 'Nebraska', 'State Code': 31, 'Month': 'Nov.', 'Year': 2017, 'Monthly Code': 11, 'Deaths': 0}
missing month Dec.
insert Dec.
insert row {'State': 'Nebraska', 'State Code': 31, 'Month': 'Dec.', 'Year': 2017, 'Monthly Code': 12, 'Deaths': 0}
314 Nebraska Jan.
matching Jan.
315 Nebraska Feb.
matching Feb.
316 Nebraska Apr.
missing month Mar.
insert Mar.
insert row {'State': 'Nebraska', 'State Code': 31, 'Month': 'Mar.', 'Year': 2017, 'Monthly Code': 3, 'Deaths': 0}
matching Apr.
317 Nebraska May
matching May
318 Nebraska Jun.
matching Jun.
319 Nebraska Jul.
matching Jul.
320 Nebraska Aug.
matching Aug.
321 Nebraska Sep.
matching Sep.
322 Nebraska Oct.
matching Oct.
323 Nebraska Nov.
matching Nov.
324 Nebraska Dec.
matching Dec.
325 Nevada Jan.
matching Jan.
326 Nevada Feb.
matching Feb.
327 Nevada Mar.
matching Mar.
328 Nevada Apr.
matching Apr.
329 Nevada May
matching May
330 Nevada Jun.
matching Jun.
331 Nevada Jul.
matching Jul.
332 Nevada Aug.
matching Aug.
333 Nevada Sep.
matching Sep.
334 Nevada Oct.
matching Oct.
335 Nevada Nov.
matching Nov.
336 Nevada Dec.
matching Dec.
337 New Hampshire Jan.
matching Jan.
338 New Hampshire Feb.
matching Feb.
339 New Hampshire Mar.
matching Mar.
340 New Hampshire Apr.
matching Apr.
341 New Hampshire May
matching May
342 New Hampshire Jun.
matching Jun.
343 New Hampshire Jul.
matching Jul.
344 New Hampshire Aug.
matching Aug.
345 New Hampshire Sep.
matching Sep.
346 New Hampshire Oct.
matching Oct.
347 New Hampshire Nov.
matching Nov.
348 New Hampshire Dec.
matching Dec.
349 New Jersey Jan.
matching Jan.
350 New Jersey Feb.
matching Feb.
351 New Jersey Mar.
matching Mar.
352 New Jersey Apr.
matching Apr.
353 New Jersey May
matching May
354 New Jersey Jun.
matching Jun.
355 New Jersey Jul.
matching Jul.
356 New Jersey Aug.
matching Aug.
357 New Jersey Sep.
matching Sep.
358 New Jersey Oct.
matching Oct.
359 New Jersey Nov.
matching Nov.
360 New Jersey Dec.
matching Dec.
361 New Mexico Jan.
matching Jan.
362 New Mexico Feb.
matching Feb.
363 New Mexico Mar.
matching Mar.
364 New Mexico Apr.
matching Apr.
365 New Mexico May
matching May
366 New Mexico Jun.
matching Jun.
367 New Mexico Jul.
matching Jul.
368 New Mexico Aug.
matching Aug.
369 New Mexico Sep.
matching Sep.
370 New Mexico Oct.
matching Oct.
371 New Mexico Nov.
matching Nov.
372 New Mexico Dec.
matching Dec.
373 New York Jan.
matching Jan.
374 New York Feb.
matching Feb.
375 New York Mar.
matching Mar.
376 New York Apr.
matching Apr.
377 New York May
matching May
378 New York Jun.
matching Jun.
379 New York Jul.
matching Jul.
380 New York Aug.
matching Aug.
381 New York Sep.
matching Sep.
382 New York Oct.
matching Oct.
383 New York Nov.
matching Nov.
384 New York Dec.
matching Dec.
385 North Carolina Jan.
matching Jan.
386 North Carolina Feb.
matching Feb.
387 North Carolina Mar.
matching Mar.
388 North Carolina Apr.
matching Apr.
389 North Carolina May
matching May
390 North Carolina Jun.
matching Jun.
391 North Carolina Jul.
matching Jul.
392 North Carolina Aug.
matching Aug.
393 North Carolina Sep.
matching Sep.
394 North Carolina Oct.
matching Oct.
395 North Carolina Nov.
matching Nov.
396 North Carolina Dec.
matching Dec.
397 North Dakota Apr.
missing month Jan.
insert Jan.
insert row {'State': 'North Dakota', 'State Code': 38, 'Month': 'Jan.', 'Year': 2017, 'Monthly Code': 1, 'Deaths': 0}
missing month Feb.
insert Feb.
insert row {'State': 'North Dakota', 'State Code': 38, 'Month': 'Feb.', 'Year': 2017, 'Monthly Code': 2, 'Deaths': 0}
missing month Mar.
insert Mar.
insert row {'State': 'North Dakota', 'State Code': 38, 'Month': 'Mar.', 'Year': 2017, 'Monthly Code': 3, 'Deaths': 0}
matching Apr.
398 Ohio Jan.
missing month May
insert May
insert row {'State': 'Ohio', 'State Code': 39, 'Month': 'May', 'Year': 2017, 'Monthly Code': 5, 'Deaths': 0}
missing month Jun.
insert Jun.
insert row {'State': 'Ohio', 'State Code': 39, 'Month': 'Jun.', 'Year': 2017, 'Monthly Code': 6, 'Deaths': 0}
missing month Jul.
insert Jul.
insert row {'State': 'Ohio', 'State Code': 39, 'Month': 'Jul.', 'Year': 2017, 'Monthly Code': 7, 'Deaths': 0}
missing month Aug.
insert Aug.
insert row {'State': 'Ohio', 'State Code': 39, 'Month': 'Aug.', 'Year': 2017, 'Monthly Code': 8, 'Deaths': 0}
missing month Sep.
insert Sep.
insert row {'State': 'Ohio', 'State Code': 39, 'Month': 'Sep.', 'Year': 2017, 'Monthly Code': 9, 'Deaths': 0}
missing month Oct.
insert Oct.
insert row {'State': 'Ohio', 'State Code': 39, 'Month': 'Oct.', 'Year': 2017, 'Monthly Code': 10, 'Deaths': 0}
missing month Nov.
insert Nov.
insert row {'State': 'Ohio', 'State Code': 39, 'Month': 'Nov.', 'Year': 2017, 'Monthly Code': 11, 'Deaths': 0}
missing month Dec.
insert Dec.
insert row {'State': 'Ohio', 'State Code': 39, 'Month': 'Dec.', 'Year': 2017, 'Monthly Code': 12, 'Deaths': 0}
398 Ohio Jan.
matching Jan.
399 Ohio Feb.
matching Feb.
400 Ohio Mar.
matching Mar.
401 Ohio Apr.
matching Apr.
402 Ohio May
matching May
403 Ohio Jun.
matching Jun.
404 Ohio Jul.
matching Jul.
405 Ohio Aug.
matching Aug.
406 Ohio Sep.
matching Sep.
407 Ohio Oct.
matching Oct.
408 Ohio Nov.
matching Nov.
409 Ohio Dec.
matching Dec.
410 Oklahoma Jan.
matching Jan.
411 Oklahoma Feb.
matching Feb.
412 Oklahoma Mar.
matching Mar.
413 Oklahoma Apr.
matching Apr.
414 Oklahoma May
matching May
415 Oklahoma Jun.
matching Jun.
416 Oklahoma Jul.
matching Jul.
417 Oklahoma Aug.
matching Aug.
418 Oklahoma Sep.
matching Sep.
419 Oklahoma Oct.
matching Oct.
420 Oklahoma Nov.
matching Nov.
421 Oklahoma Dec.
matching Dec.
422 Oregon Jan.
matching Jan.
423 Oregon Feb.
matching Feb.
424 Oregon Mar.
matching Mar.
425 Oregon Apr.
matching Apr.
426 Oregon May
matching May
427 Oregon Jun.
matching Jun.
428 Oregon Jul.
matching Jul.
429 Oregon Aug.
matching Aug.
430 Oregon Sep.
matching Sep.
431 Oregon Oct.
matching Oct.
432 Oregon Nov.
matching Nov.
433 Oregon Dec.
matching Dec.
434 Pennsylvania Jan.
matching Jan.
435 Pennsylvania Feb.
matching Feb.
436 Pennsylvania Mar.
matching Mar.
437 Pennsylvania Apr.
matching Apr.
438 Pennsylvania May
matching May
439 Pennsylvania Jun.
matching Jun.
440 Pennsylvania Jul.
matching Jul.
441 Pennsylvania Aug.
matching Aug.
442 Pennsylvania Sep.
matching Sep.
443 Pennsylvania Oct.
matching Oct.
444 Pennsylvania Nov.
matching Nov.
445 Pennsylvania Dec.
matching Dec.
446 Rhode Island Jan.
matching Jan.
447 Rhode Island Feb.
matching Feb.
448 Rhode Island Mar.
matching Mar.
449 Rhode Island Apr.
matching Apr.
450 Rhode Island May
matching May
451 Rhode Island Jun.
matching Jun.
452 Rhode Island Jul.
matching Jul.
453 Rhode Island Aug.
matching Aug.
454 Rhode Island Sep.
matching Sep.
455 Rhode Island Oct.
matching Oct.
456 Rhode Island Nov.
matching Nov.
457 Rhode Island Dec.
matching Dec.
458 South Carolina Jan.
matching Jan.
459 South Carolina Feb.
matching Feb.
460 South Carolina Mar.
matching Mar.
461 South Carolina Apr.
matching Apr.
462 South Carolina May
matching May
463 South Carolina Jun.
matching Jun.
464 South Carolina Jul.
matching Jul.
465 South Carolina Aug.
matching Aug.
466 South Carolina Sep.
matching Sep.
467 South Carolina Oct.
matching Oct.
468 South Carolina Nov.
matching Nov.
469 South Carolina Dec.
matching Dec.
470 South Dakota Jan.
matching Jan.
471 South Dakota May
missing month Feb.
insert Feb.
insert row {'State': 'South Dakota', 'State Code': 46, 'Month': 'Feb.', 'Year': 2017, 'Monthly Code': 2, 'Deaths': 0}
missing month Mar.
insert Mar.
insert row {'State': 'South Dakota', 'State Code': 46, 'Month': 'Mar.', 'Year': 2017, 'Monthly Code': 3, 'Deaths': 0}
missing month Apr.
insert Apr.
insert row {'State': 'South Dakota', 'State Code': 46, 'Month': 'Apr.', 'Year': 2017, 'Monthly Code': 4, 'Deaths': 0}
matching May
472 South Dakota Aug.
missing month Jun.
insert Jun.
insert row {'State': 'South Dakota', 'State Code': 46, 'Month': 'Jun.', 'Year': 2017, 'Monthly Code': 6, 'Deaths': 0}
missing month Jul.
insert Jul.
insert row {'State': 'South Dakota', 'State Code': 46, 'Month': 'Jul.', 'Year': 2017, 'Monthly Code': 7, 'Deaths': 0}
matching Aug.
473 Tennessee Jan.
missing month Sep.
insert Sep.
insert row {'State': 'Tennessee', 'State Code': 47, 'Month': 'Sep.', 'Year': 2017, 'Monthly Code': 9, 'Deaths': 0}
missing month Oct.
insert Oct.
insert row {'State': 'Tennessee', 'State Code': 47, 'Month': 'Oct.', 'Year': 2017, 'Monthly Code': 10, 'Deaths': 0}
missing month Nov.
insert Nov.
insert row {'State': 'Tennessee', 'State Code': 47, 'Month': 'Nov.', 'Year': 2017, 'Monthly Code': 11, 'Deaths': 0}
missing month Dec.
insert Dec.
insert row {'State': 'Tennessee', 'State Code': 47, 'Month': 'Dec.', 'Year': 2017, 'Monthly Code': 12, 'Deaths': 0}
473 Tennessee Jan.
matching Jan.
474 Tennessee Feb.
matching Feb.
475 Tennessee Mar.
matching Mar.
476 Tennessee Apr.
matching Apr.
477 Tennessee May
matching May

In [41]:
print("We got all months for all ", len(cdc_copy)/12, " states")

We got all months for all  51.0  states

In [42]:
cdc_copy

       State State Code Month  Year Monthly Code Deaths
0    Alabama          1  Jan.  2017            1     91
1    Alabama          1  Feb.  2017            2     73
2    Alabama          1  Mar.  2017            3     92
3    Alabama          1  Apr.  2017            4     75
4    Alabama          1   May  2017            5     83
..       ...        ...   ...   ...          ...    ...
607  Wyoming         56  Aug.  2017            8      0
608  Wyoming         56  Sep.  2017            9      0
609  Wyoming         56  Oct.  2017           10     13
610  Wyoming         56  Nov.  2017           11     14
611  Wyoming         56  Dec.  2017           12      0

[612 rows x 6 columns]

### Upload file to gdrive

**Don't rewrite this filename**

In [0]:
# cdc_copy.to_csv('cdc_opioid_state_w_missing.csv')
# !cp cdc_opioid_state_w_missing.csv drive/My\ Drive/Capstone\ Project\ 2019/data/cdc-wonder/cdc-provisional-normalized/