<a href="https://colab.research.google.com/github/vaguiar/capstone-project-2019/blob/master/src/explore/provisonal_data_with_census_regions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
!pip install geopandas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import geopandas as gpd

%matplotlib inline
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

# To increase the number of rows pandas will print before truncation
pd.set_option('display.max_rows', 500)

# To increase the number of columns pandas will print before truncation
pd.set_option('display.max_columns', 100)

# To increase the width of each column pandas will print before truncating.
pd.set_option('display.max_colwidth',100)

Requirement already satisfied: geopandas in /usr/local/lib/python3.6/dist-packages (0.6.1)
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.8.11)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.6.4.post2)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (0.25.3)
Requirement already satisfied: pyproj in /usr/local/lib/python3.6/dist-packages (from geopandas) (2.4.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.12.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.6.1)

In [11]:
from google.colab import drive
drive.mount('/content/drive')
#read data from Drive
pro_link = '/content/drive/My Drive/Capstone Project 2019/data/shapefiles//tl_2017_us_state.shp'
prov_link = '/content/drive/My Drive/Capstone Project 2019/data/cdc-wonder/cdc-provisional-2014-2019.csv'

states = gpd.read_file(pro_link)
states.rename(columns={'NAME':'State Name'}, inplace=True)
df_states = states[['State Name', 'REGION','DIVISION']]
df_states
df = pd.DataFrame(pd.read_csv(prov_link))
df = pd.merge(df, df_states, on='State Name')
df



#df['Year'] = df['Year'].astype(str)
#df['Month'] = df['Month'].astype(str)
#df['Date'] = df['Year'] +'-'+ df['Month']
#df['Date'] = [datetime.strptime(x, '%Y-%B') for x in df['Date'] ]

#Summing the 'predicted value column' when grouping by region and month
#df2 = pd.DataFrame(df.groupby(["REGION","Date"])["Predicted Value"].sum().reset_index())
#df2

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value,REGION,DIVISION
0,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.000000,Alaska,Numbers may differ from published reports using final data. See Technical Notes.,**,127,4,9
1,AK,2015,April,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)",NaN,100,0.000000,Alaska,Numbers may differ from published reports using final data. See Technical Notes. Data not shown...,**,NaN,4,9
2,AK,2015,April,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",NaN,100,0.000000,Alaska,Numbers may differ from published reports using final data. See Technical Notes. Data not shown...,**,NaN,4,9
3,AK,2015,April,12 month-ending,Cocaine (T40.5),NaN,100,0.000000,Alaska,Numbers may differ from published reports using final data. See Technical Notes. Data not shown...,**,NaN,4,9
4,AK,2015,April,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0.000000,Alaska,Numbers may differ from published reports using final data. See Technical Notes. Data not shown...,**,NaN,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24799,WY,2019,March,12 month-ending,Psychostimulants with abuse potential (T43.6),16,100,0.064405,Wyoming,Underreported due to incomplete data.,*,17,4,8
24800,WY,2019,March,12 month-ending,Natural & semi-synthetic opioids (T40.2),31,100,0.064405,Wyoming,Underreported due to incomplete data.,*,32,4,8
24801,WY,2019,March,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",13,100,0.064405,Wyoming,Underreported due to incomplete data.,*,14,4,8
24802,WY,2019,March,12 month-ending,Number of Deaths,"4,658",100,0.064405,Wyoming,Underreported due to incomplete data.,*,NaN,4,8
24803,WY,2019,March,12 month-ending,"Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)",32,100,0.064405,Wyoming,Underreported due to incomplete data.,*,33,4,8